2007/BlogPosts.Buzzwords/Tests/BlogPosts.Buzzwords.Client/Web References/localhost/BuzzwordService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BlogPosts.Buzzwords.DataContracts/2007/10" elementFormDefault="qualified" targetNamespace="http://BlogPosts.Buzzwords.DataContracts/2007/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Buzzword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Buzzword" nillable="true" type="tns:Buzzword" />
</xs:schema>