blogposts/BlogPosts.Buzzwords/Tests/BlogPosts.Buzzwords.Client/Web References/localhost/BuzzwordService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BlogPosts.Buzzwords.ServiceContracts/2007/10" elementFormDefault="qualified" targetNamespace="http://BlogPosts.Buzzwords.ServiceContracts/2007/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53598/BlogPosts.Buzzwords.Host/BuzzwordService.svc?xsd=xsd2" namespace="http://BlogPosts.Buzzwords.DataContracts/2007/10" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://BlogPosts.Buzzwords.DataContracts/2007/10" minOccurs="0" name="request" nillable="true" type="q1:Buzzword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://BlogPosts.Buzzwords.DataContracts/2007/10" minOccurs="0" name="LoadResult" nillable="true" type="q2:Buzzword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>